@import 'tailwindcss';

:root {
  --background: #eef2ff;
  --background-secondary: #ffffff;
  --foreground: #0f172a;
  --muted: #dbe4ff;
  --border: #c7d2fe;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --primary-foreground: #ffffff;

  --icon: #475569;
}

:root.dark {
  --background: #0b0b0f;
  --background-secondary: #1a1a22;
  --foreground: #ededf5;

  --muted: #2a2a35;
  --border: #3f3f4d;

  --primary: #8b5cf6;
  --primary-hover: #7c3aed;
  --primary-foreground: #f5f3ff;

  --icon: #c4b5fd;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-icon: var(--icon);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .container {
    @apply mx-auto flex max-w-[1440px] flex-col gap-10 px-3;
  }
}
